#content{
    position: relative;
    /* background-color: #ececec; */
    background-color: rgb(46, 46, 46);
    color: white;
    width: fit-content;
    padding: 1px 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px gray;
}

#city-details{
    margin-top: 30px;
    text-align: center;
}

#name{
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 500;
}

#date {
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 500;
}

#weather {
    margin: 15px auto;
    width: 40%;
    min-width: 550px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#basic-weather{
    text-align: center;
    padding: 10px 0px;
    font-size: 1.5rem;
}

#condition{
    font-size: 1rem;
    margin-top: -10px;
}

#additional-weather > div {
    /* border: 1px solid black; */
    padding: 0px 10px;
}

#additional-weather {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#icon{
    margin-top: 0px;
    width: 60px;
    vertical-align: middle;
    /* margin: auto; */
}


.data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6px;
    border-bottom: 2px solid gray;
}

#feels-like{
    margin-top: -11px;
    padding: 0;
    color: red;
}


.large-heading {
    font-weight: 500;
    margin-bottom: 8px;
    display: inline-block;
    text-align: left;
    font-size: 1rem;
}

#right-pane {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
}

#right-pane > .large-heading {
    padding-bottom: 8px;
    border-bottom: 2px solid gray;
}

.large-value{
    display: inline-block;
    text-align: right;
    font-size: 1rem;
}

.medium-heading{
    display: inline-block;
    text-align: left;
    font-size: 0.8rem;
}
.medium-value{
    display: inline-block;
    font-size: 0.8rem;
    text-align: right;
}

.small {
    margin-left: 10px;
    padding-bottom: 3.1px;
    border-bottom: 1.5px solid gray;
}

.navigator{
    background: white;
    display: inline-block;
    width: 50px;
    height: 50px; 
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
    transition: filter 0.2s;
}

#navigator-L{
    left: -25px;
}

#navigator-R{
    right: -25px;
}

.navigator > img {
    width: 30px;
    height: 30px;
}

#navigator-L > img{
    margin: 9px 12px 11px 8px;
}

#navigator-R > img{
    margin: 9px 8px 11px 12px;
}

.navigator:hover{
    filter: invert(1);
}

@media (max-width: 500px){
    #content{
        background-color: #ececec;
        width: 100%;
        padding: 1px 0;
        /* padding: 1px 30px 20px 0px; */
        border-radius: 0px;
        margin: auto;
        box-shadow: 0 0 10px gray;
    }
    #weather {
        margin: 15px auto;
        width: 100%;
        min-width: 0px;
        display: block;
    }
    #additional-weather {
        width: 100%;
        /* padding: 20px 0px; */
        display: block;
    }    

    .navigator{
        background: rgb(178, 177, 177);
        display: inline-block;
        width: 50px;
        height: 50px; 
        text-align: center;
        border-radius: 0;
        position: absolute;
        top: 0;
        transform: translate(0, 0);
        transition: filter 0.2s;
    }
    
    #navigator-L{
        left: 0px;
    }
    
    #navigator-R{
        right: 0px;
    }    
}

@media (max-width: 700px) and (min-width: 500px) {
    #content{
        background-color: #ececec;
        width: 100%;
        padding: 1px 0;
        /* padding: 1px 30px 20px 0px; */
        border-radius: 0px;
        margin: auto;
        box-shadow: 0 0 10px gray;
    }

    #additional-weather {
        /* width: 100%; */
        padding: 20px 0px 40px 0px;
        display: block;
    }    
    #weather {
        margin: 15px auto;
        width: fit-content;
        min-width: 0px;
        display: grid;
        grid-template-columns: 1fr 5fr;
        column-gap: 10px;
    }

    .navigator{
        background: rgb(178, 177, 177);
        display: inline-block;
        width: 50px;
        height: 50px; 
        text-align: center;
        border-radius: 0;
        position: absolute;
        top: 0;
        transform: translate(0, 0);
        transition: filter 0.2s;
    }
    
    #navigator-L{
        left: 0px;
    }
    
    #navigator-R{
        right: 0px;
    }
}


.hidden {
    display: none;
}