
#footer {
    margin: 0px;
    background-color: gray;
    padding: 10px;
}

#contact-links {
    text-align: center;
}

#ig{
    width: 35px;
    vertical-align: middle;
    border-radius: 11px;
    transition: 0.2s;
}

#lin {
    vertical-align: middle;
    width: 35px;
    transition: 0.2s;
    transition: 0.2s;
    border-radius: 5.5px;
}

#gh {
    
    border: none;
    vertical-align: middle;
    width: 40px;
    transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
}

#contact-links > a > img:hover{
    background-color: white;
    filter: invert(1);
}

