* {
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}

body {
    background-image: linear-gradient(#e4e4e4, rgb(163, 162, 162), gray);
    margin-top: 50px;
    margin: 50px 0 0 0;
}

.hidden {
    display: none;
}

