
.search {
    margin: 10px;
    margin-top: 60px;
    text-align: center;
}

.search > div{
    display: inline-block;
}

.sbox{
    text-align: center;
    width: 400px;
}

#search-box {
    vertical-align: middle;
    margin: 10px 2.5px;
    height: 30px;
    width: 89%;
    padding: 5px 20px;
    border: none;
    border-radius: 30px;
}

#search-box:focus{
    box-shadow: 0px 0px 10px gray ;
}
.sicon{
    margin-left: 5px;
    border-radius: 35px;
}

#search-icon {
    margin: 5px 2.5px;
    vertical-align: middle;
    height: 30px;
    width: 35px;
    cursor: pointer;
}

.sicon:hover{
    /* color: blue; */
    filter: invert();
    background-color: white;
}

@media (max-width: 400px){
    .search {
        display: grid;
        grid-template-columns: 1fr 50px;
    }   

    .sbox {
        width: 85%;
    }

    .sicon {
        margin-top: 10px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 700px) and (min-width: 400px){
    .search {
        display: grid;
        grid-template-columns: 1fr 50px;
    }   

    .sbox {
        width: 85%;
        text-align: center;
    }

    .sicon {
        margin-top: 10px;
        width: 40px;
        height: 40px;
    }
}