.toggles{
    margin: 20px auto;
    width: 120px;
    display: flex;
    justify-content: center;
}


.toggle-back {
    width: 45px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.toggle{
    position: relative;
    padding: 0;
    padding-top: 3px;
    vertical-align: top;
    width: 27px;
    height: 25px;
    background-color: gray;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.15s;
}

.toggle:hover {
    background-color: rgb(177, 174, 174);
}

#Mcircle, #Dcircle{
    left: 0;
    top: -4px;
}

#Icircle, #Wcircle{
    left: 20px;
    top: -4px;
}

